[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "EpiTxDb"]
	path = EpiTxDb
	url = https://github.com/felixernst/epitxdb
[submodule "Modstrings"]
	path = Modstrings
	url = https://github.com/felixernst/modstrings
[submodule "RNAmodR"]
	path = RNAmodR
	url = https://github.com/felixernst/rnamodr
[submodule "RNAmodR.AlkAnilineSeq"]
	path = RNAmodR.AlkAnilineSeq
	url = https://github.com/felixernst/rnamodr.alkanilineseq
[submodule "RNAmodR.ML"]
	path = RNAmodR.ML
	url = https://github.com/felixernst/rnamodr.ml
[submodule "RNAmodR.RiboMethSeq"]
	path = RNAmodR.RiboMethSeq
	url = https://github.com/felixernst/rnamodr.ribomethseq
[submodule "Structstrings"]
	path = Structstrings
	url = https://github.com/felixernst/structstrings
[submodule "tRNA"]
	path = tRNA
	url = https://github.com/felixernst/trna
[submodule "tRNAdbImport"]
	path = tRNAdbImport
	url = https://github.com/felixernst/trnadbimport
[submodule "tRNAscanImport"]
	path = tRNAscanImport
	url = https://github.com/felixernst/trnascanimport
