[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	shallow = true
	branch = HEAD
[submodule "EpiTxDb"]
	path = EpiTxDb
	url = https://github.com/felixernst/epitxdb
	shallow = true
	registered = true
[submodule "tRNA"]
	path = tRNA
	url = https://github.com/felixernst/trna
	shallow = true
	registered = true
[submodule "tRNAdbImport"]
	path = tRNAdbImport
	url = https://github.com/felixernst/trnadbimport
	shallow = true
	registered = true
[submodule "tRNAscanImport"]
	path = tRNAscanImport
	url = https://github.com/felixernst/trnascanimport
	shallow = true
	registered = true
